<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <button  aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
            <path clip-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z" fill-rule="evenodd"></path>
          </svg>
        </button>
        <a href="#" class="flex ml-2">
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-black">MY APP</span>
        </a>
      </div>
      <div class="flex items-center">
        <button  type="button" (click)="logout()" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 mr-5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Déconnexion</button>
      </div>
    </div>
  </div>
</nav>

<aside class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
  <div class="px-3 pb-4">
     
      <ul class="mt-4 space-y-2">
          <li>
              <a routerLink="admin" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                  <fa-icon [icon]="['fas', 'briefcase']" class="w-5 h-5"></fa-icon>
                  <span class="ml-1">Admin</span>
              </a>
          </li>
          <li>
              <a routerLink="parent" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                  <fa-icon [icon]="['fas', 'user']" class="w-5 h-5"></fa-icon>
                  <span class="ml-1">Parent</span>
              </a>
          </li>
          <li>
              <a routerLink="recepteur" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                  <fa-icon [icon]="['fas', 'qrcode']" class="w-5 h-5" ></fa-icon>
                  <span class="ml-1">Recepteur</span>
              </a>
          </li>
          <li>
              <a routerLink="reciever" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                  <fa-icon [icon]="['fas', 'wifi']" class="w-5 h-5"></fa-icon>
                  <span class="ml-1">Destinataire</span>
              </a>
          </li>
          <li>
              <a routerLink="approbation" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                  <fa-icon [icon]="['fas', 'hourglass']" class="w-5 h-5"></fa-icon>
                  <span class="ml-5">En attente d'approbation</span>
              </a>
          </li>
          <li>
              <a routerLink="etudiants" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                  <fa-icon [icon]="['fas', 'book']" class="w-5 h-5"></fa-icon>
                  <span class="ml-1">Les Étudiantes</span>
              </a>
          </li>
          <li>
              <a routerLink="classes" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                  <fa-icon [icon]="['fas', 'chalkboard-teacher']" class="w-5 h-5"></fa-icon>
                  <span class="ml-1">Les Classes</span>
              </a>
          </li>
      </ul>
  </div>
</aside>